.menu_container {
    position: relative;
    z-index: 11;
}
.menu_items {
    position: absolute;
    right: -100vh;
}

.menu_items_open {
    padding: 16px 22px 16px 16px;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 33px;
    transition: right 0.3s ease;
    height: 765px;
}

.menu_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_name {
    font-size: 1.75em;
    color: var(--black);
}
