.slider {
    margin-top: -53px;
}

.slider_container {
    padding: 73px 13px 0 13px;
    height: 685px;
    position: relative;
}

.slide {

    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 4em;
    color: var(--white);
}

.description {
    font-size: 1.75em;
    font-style: italic;
    color: var(--white);
}

.prices {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 4px 15px;
    width: 196px;
    z-index: 1;
}

.new_price {
    font-size: 3.75em;
}

.old_price {
    font-size: 2em;
    font-style: italic;
    color: transparent;
    position: relative;
}
.line {
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 1px;
    transform: rotate(-12deg);
}

.image {
    z-index: 1;
    width: 100%;
    height: auto;
    aspect-ratio: 0.9705;
    cursor: pointer;
}

.big_logo {
    position: absolute;
    left: 13px;
    bottom: -20px;
}
