.infoBlock {
    padding: 20px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoBlock_title {
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: 400;
}

.blocks {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: var(--grey);
    border-radius: 10px;
}

.block_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 6px;
}

.block_title_text {
    color: var(--pink);
    font-size: 1.75em;
}

.button_opened {
    transform: rotate(-90deg);
    width: 14px;
    height: 14px;
    background-color: transparent;
}

.button_closed {
    transform: rotate(90deg);
    width: 14px;
    height: 14px;
    background-color: transparent;
}

.delivery_icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.description_text {
    font-size: 1.5em;
    font-weight: 100;
    font-style: italic;
}
.description_text span{
    font-style: normal;
    font-weight: 700;
}
.vector{
    background-color: transparent;
}
